header {
    background-color: white;
    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}

.logo {
    width: 90%; /* Assuming width of the logo */
    height: 90%; /* Assuming height of the logo */
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
